<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
  <title>Fuck niggas!!</title>
</head>

<body>
  
  <input type="text" id="email" placeholder="Digite seu email" name="uname" required>
  <button id="save_email" class="button">Salvar email</button>
  <div id="emails"></div>

  <script src="../../build/renderer.js" defer></script>

</body>

</html>